

  a:hover {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: underline;
  }

  .create:hover {
  color: black;
  border-bottom: 1px solid white;
  text-decoration: line-through;
  background-color: rgb(7, 43, 99)
  }
  .headerColor {
  background-color: rgb(7, 43, 99)
  }

  #movethis4:hover{
    outline-style: double;
  }
  #movethis5:hover{
    outline-style: double;
  }
  #movethis6:hover{
    outline-style: double;
  }
  #movethis:hover{
    outline-style: double;
  }
  #movethis2:hover{
    outline-style: double;
  }
  #movethis3:hover{
    outline-style: double;
  }

  /* Standard syntax */
  @keyframes mymoveright {
    from {left: 0px;}
    to {left: 200px;}
  }

  @keyframes mymoveleft {
    from {left: 0px;}
    to {left: -200px;}
  }
  @keyframes fadeout {
  0% { opacity: 1	}
  100% { opacity: 0 }
  }
  @keyframes fadein {
  0% { opacity: 0	}
  100% { opacity: 1 }
  }

  .container{
    position: absolute;
    margin-left: 30%;
  }
  #buttonOnRight{
    position: absolute;
    margin-top: -33%;
    margin-left: 94.4%;
  }
  #buttonOnLeft{
    position: absolute;
    margin-top: -33%;
  }
